./.idea
./node_modules
./.phpunit.result.cache
.DS_Store
/.idea/**
frontend/.env
backend/.env
docker/all-in-one/.env
todo.md
CLAUDE.md
/prompts/**
/prompts

.vercel
prompts/


/playground/**
/playground/

/plans/**
/plans
backend/lang/scribe.php
.vscode
backend/.scribe
backend/public/docs
backend/resources/views/vendor/scribe
CMI
scripts